html {
  position: relative;
  min-height: 100%;
}

nav .nav-item {
  margin-right: 1em;
}

body {
  margin-bottom: 160px; /* Margin bottom by footer height */
  background-color: #eee;
  overflow-x: hidden; /*David*/
}

body.fullscreen {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.survey .btn {
    padding: 1vw;
    font-size: 3.5vw;
}

main {
	padding-top: 20px;
}

body.fullscreen main {
    margin: 0;
    padding: 0;
}

body.fullscreen .row {
    margin: 0;
    padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 30px;
  background-color: #f5f5f5;
}

footer ul {
  list-style-type: none;
}

/*body.fullscreen footer, body.fullscreen nav, body.fullscreen .presentation-controls {
    display: none;
}*/
body.fullscreen footer, body.fullscreen nav{
  display: none;
}

#over-slides {
  position: absolute;
  z-index: 3;/*David*/
  overflow: hidden;
}

.survey {
  position: relative;
  border-radius: 1em;
  background-color: white;
  border: 3px solid #4c4;
  padding: 2vw 5vw;
  min-width: 120px;
  /*display: inline-block;*/
}

.survey li {
  padding: 1vw 1vw;
}

.survey, .survey .progress, .survey .progress-bar {
    font-size: 2vw;
}
.survey .progress {
    height: 2vw;
}

.survey h4 {
    font-size: 3.6vw;
    padding-left: 3vw;
    margin-bottom: 3vw;
}

.survey ul {
  margin-bottom: 1em;
  width: 100%;
  padding: 1vw 0vw;
}

.survey li {
  cursor: pointer;
  user-select: none;
}

.survey li:hover:not(.active) {
    background-color: #eee;
}

canvas {
  width: 100%;
  /*z-index: 1;*/
  z-index: 4; /*David*/
}

input.bigCheckbox {
  width: 2em;
  height: 2em;
  margin-top: -0.2em;
}

span.bigCheckboxLabel {
  margin-left: 1.5em;
  font-size: 1.2em;
  position: relative;
  top: -0.1em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 360px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Medium size */
@media (min-width: 768px) {
  body {
    margin-bottom: 112px; /* Margin bottom by footer height */
  }
  footer {
    height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px;
  }
}

/* Horizontal size width */
@media  (orientation:landscape){ 
  .survey{
    padding: 0.5vw 3vw;
  }
  .survey h4{
    font-size: 3vw;
    margin-bottom: 2vw;
    padding-left: 0vw;
  }
}


/* Large size */
@media (min-width: 992px) {  
    .survey .progress {
        height: 1vw;
    }
    
    .survey, .survey .progress, .survey .progress-bar {
      font-size: 1vw;
    }
    
    .survey {
        padding: 1vw 2vw;
        min-width: 250px;
    }

    .survey h4 {
        font-size: 1.8vw;
    }
    .survey li {
        padding: 0.5vw 1.5vw;
    }
    .survey h4 {
        font-size: 1.8vw;
        margin-bottom: 1.5vw;
    }
    
    .survey .btn {
        padding: 0.5vw;
        font-size: 1.75vw;
    }
    
    .survey ul {
      padding: 0.5vw 1.5vw;
    }

    
  body {
    margin-bottom: 112px; /* Margin bottom by footer height */
  }
  footer {
    height: 112px; /* Set the fixed height of the footer here */
    line-height: inherit; /* Vertically center the text there */
  }
  canvas {
    width: 50%;
  }
}


  /* ------ To make de surveys draggable -----*/
  /*.resize-drag {
    border-radius: 8px;
    padding: 20px;
    margin: 30px 20px;
    height: 100%;
    width: 100%;
    touch-action: none;
    box-sizing: border-box;
  }
  
  .resize-container {
    display: inline-block;
    width: 100%;
    height: 100%;
  }*/



/* ----- The canvas for draw ---*/
.rainbow-pixel-canvas {
  /*border: solid 1px gray;*/
  -ms-touch-action: none ;
  touch-action: none ;
  position:absolute;
  top:0;
  left:0;
  width:50%;
  /*transform: translate(50%, 0);*/
  z-index:4;
}

/*-------------------------------------------------------------Survey Modal ---------------------------------*/

/* ----- Star rating survey ---*/
.star-rating {
  line-height:32px;
  font-size:1.25em;
  /*margin: 0 auto;
  width:50%;*/
}
.o{
  font-weight: 100 !important;
}
.star-rating .fa-star{
  color: orange;
}
#RatingModal {
  text-align: center;
}
#feedback-title {
  width:100%;
  margin: 0 auto;
}
/*------------------------------------------------------------FIN Survey Modal ---------------------------------*/

/*-------------------------------------------------------------End of presentation ----------------------------*/
.btn-sq-lg {
  margin-left: 50%;
  
}
.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}
.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}
.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
.display-none{
  display: none;
}
.card-body{
  border-left: 1px solid rgba(0,0,0,.125); 
  border-right: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.end {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
/* Darker background on mouse-over */
.end:hover {
  background-color: RoyalBlue;
}


.firstsect{
  background: #fa987d;
  height: 100vw;
  width: 33.33vw;
}
.secondsect{
  background: #72CCA7;
  height: 100%;
  width: 33.33vw;
}
.thirdsect{
  background: #10A296;
  height: 100%;
  width: 33.33vw;
}

/* --------------------- END of END of presentations ---------------------*/


/* ---------------------------- DAVID --------------------*/
.presentation-controls{
  margin-top: 15px;
  margin-bottom: 12px;
}
/**/
body.fullscreen #option-survey{
  position: absolute;
  top: 90%;
}
#fullscreen-mobile{
  display: none;
}
body.fullscreen #message-text{
  padding: .375rem 0;
}
/* fin david*/

/* ------------- Button to close surveys --------------------------- */

#removeSurvey{
  cursor: pointer;
  margin-left: 100%
}

/*---------Aceptar cookies -----------------*/
.cc-window {
  opacity: 1;
  transition: opacity 1s ease
}
.cc-window.cc-invisible { opacity: 0 }
.cc-animate.cc-revoke { transition: transform 1s ease }
.cc-animate.cc-revoke.cc-top { transform: translateY(-2em) }
.cc-animate.cc-revoke.cc-bottom { transform: translateY(2em) }
.cc-animate.cc-revoke.cc-active.cc-bottom, .cc-animate.cc-revoke.cc-active.cc-top, .cc-revoke:hover { transform: translateY(0) }
.cc-grower {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s
}
.cc-color-override--1680425298.cc-window {
  background-color: rgba(0, 0, 0, 0.8)!important;
  color: #fff;
}
.cc-banner.cc-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.cc-revoke, .cc-window {
 box-sizing: border-box;
  font-family: "Roboto",sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  overflow: hidden;
  padding: 1em 0.3em;
  position: fixed;
  text-align: center;
  z-index: 9999;
}

.cc-color-override--1680425298 .cc-link, .cc-color-override--1680425298 .cc-link:active, .cc-color-override--1680425298 .cc-link:visited {
  color: #fff;
}
.cc-link, .cc-revoke:hover {
  text-decoration: underline;
}
.cc-btn {
 background-color: #ffffff;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: #000;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 10px auto 0;
  max-width: 5em;
  padding: 0.4em 0.7em;
  text-align: center;
  white-space: nowrap;
}
.cc-btn, .cc-close, .cc-link, .cc-revoke {
  cursor: pointer;
}