@media all and (min-width:960px) and (max-width: 1024px) {
  /* put your css styles in here */
  body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 23vh;
  }
  body.fullscreen #message-text{
    padding: 0;
  }
   body.fullscreen #pages{
     position: absolute; /*top: 60vh;*/ right: 37vw;
   }
  #over-slides{
    top: 23vh;
  }
  .canvaswidth{
    width: 100% !important;
  }
  body.fullscreen #marcadorPag{
    display:none
  }
  body.fullscreen #fullscreen-mobile {
    display: initial !important;
    position: absolute;
    /*top: 60vh;*/
    right: 1%;
    z-index: 12;
  }
  @media screen and (orientation:landscape){
    body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 0;
  }

  body.fullscreen .canvaswidth{
    width: auto !important;
  }
  
  body.fullscreen #fullscreen-mobile{
    top: 90vh;
  }
  
  body.fullscreen #pages{
    position: absolute !important;
    top: 88% !important;
    left: 36% !important;
    z-index: 12 !important;
  }
  body.fullscreen #option-survey{
    position: absolute;
    top:88%;
    z-index: 12;
  }
  }
  
}

@media all and (min-width:801px) and (max-width: 959px) {
  /* put your css styles in here */
  body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 23vh;
  }
  body.fullscreen #message-text{
    padding: 0;
  }
  body.fullscreen #pages{
    position: absolute; /*top: 60vh;*/ right: 37vw;
  }
  #over-slides{
    top: 23vh;
  }
  .canvaswidth{
    width: 100% !important;
  }
  body.fullscreen #fullscreen-mobile {
    display: initial !important;
    position: absolute;
    /*top: 60vh;*/
    right: 1%;
    z-index: 12;
  }
  body.fullscreen #marcadorPag{
    display:none;
  }
  @media screen and (orientation:landscape){
    body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 0;
  }

  body.fullscreen .canvaswidth{
    width: auto !important;
  }
  body.fullscreen #fullscreen-mobile{
    top: 90vh;
  }
  body.fullscreen #option-survey{
    position: absolute;
    top:88%;
    z-index: 12;
  }
  body.fullscreen #pages{
    position: absolute !important;
    top: 88% !important;
    left: 36% !important;
    z-index: 12 !important;
  }
  }
}

@media all and (min-width:769px) and (max-width: 800px) {
  /* put your css styles in here */
  body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 23vh;
  }
  body.fullscreen #message-text{
    padding: 0;
  }
  body.fullscreen #pages{
    position: absolute; /*top: 60vh;*/ right: 37vw;
  }
  #over-slides{
    top: 23vh;
  }
  .canvaswidth{
    width: 100% !important;
  }
  body.fullscreen #fullscreen-mobile {
    display: initial !important;
    position: absolute;
    /*top: 60vh;*/
    right: 1%;
    z-index: 12;
  }
  body.fullscreen #marcadorPag{
    display:none;
  }
  @media screen and (orientation:landscape){
    body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 0;
  }
  body.fullscreen .canvaswidth{
    width: auto !important;
  }
  body.fullscreen #fullscreen-mobile{
    top: 90vh;
  }
  body.fullscreen #option-survey{
    position: absolute;
    top:88%;
  }
  body.fullscreen #pages{
    position: absolute !important;
    top: 88% !important;
    left: 36% !important;
    z-index: 12 !important;
  }
  }
}

@media all and (min-width:569px) and (max-width: 768px) {
  /* put your css styles in here */
  body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 23vh;
  }
  body.fullscreen #message-text{
    padding: 0;
  }
  body.fullscreen #pages{
    position: absolute; /*top: 60vh;*/ right: 37vw;
  }
  #over-slides{
    top: 23vh;
  }
  .canvaswidth{
    width: 100% !important;
  }
  body.fullscreen #fullscreen-mobile {
    display: initial !important;
    position: absolute;
    /*top: 60vh;*/
    right: 1%;
    z-index: 12;
  }
  body.fullscreen #marcadorPag{
    display:none;
  }
  @media screen and (orientation:landscape){
    body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 0;
  }
  body.fullscreen .canvaswidth{
    width: auto !important;
  }
  body.fullscreen #fullscreen-mobile{
    top: 90vh;
  }
  body.fullscreen #option-survey{
    position: absolute;
    top:88%;
    z-index: 12;
  }
  body.fullscreen #pages{
    position: absolute !important;
    top: 88% !important;
    left: 36% !important;
    z-index: 12 !important;
  }
  }
}

@media all and (min-width:481px) and (max-width: 568px) {
  /* put your css styles in here */
  body.fullscreen  .col.text-center{
      padding: 0 !important;
      top: 23vh;
  }
  body.fullscreen #message-text{
    padding: 0;
  }
  body.fullscreen #pages{
    position: absolute; /*top: 60vh;*/ right: 37vw;
  }
  #over-slides{
    top: 23vh;
  }
  .canvaswidth{
    width: 100% !important;
  }
  body.fullscreen #fullscreen-mobile {
    display: initial !important;
    position: absolute;
    /*top: 60vh;*/
    right: 1%;
    z-index: 12;
  }
  body.fullscreen #marcadorPag{
    display:none;
  }
  @media screen and (orientation:landscape){
    body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 0;
  }
  body.fullscreen .canvaswidth{
    width: auto !important;
  }
  body.fullscreen #fullscreen-mobile{
    top: 90vh;
  }
  body.fullscreen #option-survey{
    position: absolute;
    top:88%;
    z-index: 12;
  }
  body.fullscreen #pages{
    position: absolute !important;
    top: 88% !important;
    left: 36% !important;
    z-index: 12 !important;
  }
  }
}

@media all and (min-width:321px) and (max-width: 480px) {
  /* put your css styles in here */
  body.fullscreen  .col.text-center{
      padding: 0 !important;
      top: 23vh;
  }
  body.fullscreen #message-text{
    padding: 0;
  }
  body.fullscreen #pages{
    position: absolute; /*top: 60vh;*/ right: 37vw;
  }
  #over-slides{
    top: 23vh;
  }
  .canvaswidth{
    width: 100% !important;
  }

  body.fullscreen #fullscreen-mobile {
    display: initial !important;
    position: absolute;
    /*top: 60vh;*/
    right: 1%;
    z-index: 12;
  }
  body.fullscreen #marcadorPag{
    display:none;
  }
  @media screen and (orientation:landscape){
    body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 0;
  }
  body.fullscreen .canvaswidth{
    width: auto !important;
  }
  body.fullscreen #fullscreen-mobile{
    top: 90vh;
  }
  body.fullscreen #option-survey{
    position: absolute;
    top:88%;
    z-index: 12;
  }
  body.fullscreen #pages{
    position: absolute !important;
    top: 88% !important;
    left: 36% !important;
    z-index: 12 !important;
  }
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  /* put your css styles in here */
  body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 23vh;
  }
  body.fullscreen #message-text{
    padding: 0;
  }
  body.fullscreen #pages{
    position: absolute; /*top: 60vh;*/ right: 37vw;
  }
  #over-slides{
    top: 23vh;
  }
  .canvaswidth{
    width: 100% !important;
  }
  body.fullscreen #fullscreen-mobile {
    display: initial !important;
    position: absolute;
    /*top: 60vh;*/
    right: 1%;
    z-index: 12;
  }
  body.fullscreen #marcadorPag{
    display:none;
  }
  @media screen and (orientation:landscape){
    body.fullscreen .col.text-center{
      padding: 0 !important;
      top: 0;
  }
  body.fullscreen .canvaswidth{
    width: auto !important;
  }
  body.fullscreen #fullscreen-mobile{
    top: 90vh;
  }
   body.fullscreen #option-survey{
    position: absolute;
    top:88%;
    z-index: 12;
  }
   body.fullscreen #pages{
    position: absolute !important;
    top: 88% !important;
    left: 36% !important;
    z-index: 12 !important;
  }
  }
}